<h1>Welcome to our posting-page!</h1>


<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search for post of a user by it's name" aria-label="postMood" aria-describedby="basic-addon2" [(ngModel)]="searchedPost">
  <button (click) = "getPostByUserName()">Submit</button>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Post here..." aria-label="postMood" aria-describedby="basic-addon2" [(ngModel)]="postedMood">
  <button (click) ="postIt()">Post</button>
</div>

<div *ngIf="logedInUser === null || logedInUser === undefined">

  <h1>Please Log In to start posting emojis</h1>

</div>

<div *ngIf="logedInUser !== null && logedInUser !== undefined">
  <!--<emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart>
  <emoji-mart set="emojione"></emoji-mart>-->
  <emoji-mart title="Pick your emoji…" (emojiClick)="select($event)"></emoji-mart>
  <!--<emoji-mart [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"></emoji-mart>
  <emoji-mart [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"></emoji-mart>-->
</div>


